body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	background-color: aqua;
	color: rgb(248, 6, 167);
}

input {
	width:100px ;
	margin-top: 3px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	border: 1px solid black;
	border-radius: 5px;
}